<div id="map" style="width: 100%; height: 100%;"></div>
<script type="text/javascript">
  var map;
  if (GBrowserIsCompatible()) {
    map = new GMap2(document.getElementById("map"));
    map.addControl(new GLargeMapControl());
    map.setCenter(new GLatLng(42.878408,74.618534), 13);
    <% @users.each do |user| %>
      var driver<%= user.id %>Icon = new GIcon(G_DEFAULT_ICON);
      driver<%= user.id %>Icon.image = "<%= user.image %>";
      driver<%= user.id %>Icon.iconSize = new GSize(73, 106);
      driver<%= user.id %>Icon.shadow = "/images/shadow.png";
      driver<%= user.id %>Icon.shadowSize = new GSize(127, 106);
      marker<%= user.id %>Options = { icon:driver<%= user.id %>Icon };
      map.addOverlay(new GMarker(new GLatLng(<%= user.lat %>, <%= user.long %>),marker<%= user.id %>Options));
    <% end %>

  if (window.attachEvent) { 
    window.attachEvent("onresize", function() {this.map.onResize()} ); } else { window.addEventListener("resize", function() {this.map.onResize()} , false); }
  }
</script>
